@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. Or something else...</p>
<p>Use this page to detail your site's privacy policy.</p>

<p>Use this page to detail your site's privacy policy.</p>
<p>Use this page to detail your site's privacy policy.</p>
<p>SvampBob Fyrkant</p>

